<a href="https://colab.research.google.com/github/jhhan0/machine-learning/blob/main/multinomial_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Multinomial linear regression

In [2]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras import Input
from tensorflow.keras import optimizers

In [17]:
data = np.array([[70, 85, 11, 73], [71, 89, 18, 82], [50, 80, 20, 72], [99, 20, 10, 57], [50, 10, 10, 34], [20, 99, 10, 58], [40, 50, 20, 56]])
df = pd.DataFrame(data, columns=['Midterm', 'Final', 'Additional point', 'Score'])
df.head()

   Midterm  Final  Additional point  Score
0       70     85                11     73
1       71     89                18     82
2       50     80                20     72
3       99     20                10     57
4       50     10                10     34

In [31]:
# Multinomial linear regression for finalizing score from Midterm, Final and Additional points.
# Three independent variables

# Using top five data from df
x = df[['Midterm', 'Final', 'Additional point']][:5].to_numpy()
y = df['Score'][:5].to_numpy()

model = Sequential()
model.add(Input(shape=(3,)))
model.add(Dense(1, activation='linear'))

sgd = optimizers.SGD(learning_rate=0.00001)

model.compile(optimizer=sgd, loss='mse', metrics=['mse'])

model.fit(x, y, batch_size=1, verbose=0, epochs=2000, shuffle=False)

In [34]:
# Compare the predicted value with the actual value 
print(model.predict(x))
print(y)

[[73.18811 ]
 [81.983635]
 [71.90897 ]
 [57.16933 ]
 [33.64618 ]]
[73 82 72 57 34]

In [36]:
# Use test data to test the model's prediction
test = df[['Midterm', 'Final', 'Additional point']][5:].to_numpy()
print(model.predict(test))
print(df['Score'][5:].to_numpy())

[[58.107307]
 [55.685383]]
[58 56]