<a href="https://colab.research.google.com/github/jhhan0/machine-learning/blob/main/multinomial_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Multinomial linear regression

In [1]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras import optimizers

In [2]:
data = np.array([[70, 85, 11, 73], [71, 89, 18, 82], [50, 80, 20, 72], [99, 20, 10, 57], [50, 10, 10, 34], [20, 99, 10, 58], [40, 50, 20, 56]])
df = pd.DataFrame(data, columns=['Midterm', 'Final', 'Additional point', 'Score'])
df.head()

   Midterm  Final  Additional point  Score
0       70     85                11     73
1       71     89                18     82
2       50     80                20     72
3       99     20                10     57
4       50     10                10     34

In [3]:
# Multinomial linear regression for finalizing score from Midterm, Final and Additional points.
# Three independent variables

# Using top five data from df
x = df[['Midterm', 'Final', 'Additional point']][:5].to_numpy()
y = df['Score'][:5].to_numpy()

model = Sequential()
model.add(Dense(1, activation='linear', input_shape=(3,)))

sgd = optimizers.SGD(learning_rate=0.00001)

model.compile(optimizer=sgd, loss='mse', metrics=['mse'])

model.fit(x, y, batch_size=1, verbose=0, epochs=2000, shuffle=False)

In [4]:
# Compare the predicted value with the actual value 
print(model.predict(x))
print(y)

[[73.11533 ]
 [81.978516]
 [71.95451 ]
 [57.157017]
 [33.686726]]
[73 82 72 57 34]

In [5]:
# Use test data to test the model's prediction
test = df[['Midterm', 'Final', 'Additional point']][5:].to_numpy()
print(model.predict(test))
print(df['Score'][5:].to_numpy())

[[58.042923]
 [55.782055]]
[58 56]

## Multinomial logistic regression

In [6]:
# Sepal Length, Petal Length
x = np.array([[5.1, 3.5], [4.7, 3.2], [5.2, 1.8], [7, 4.1], [5.1, 2.1]])
# Species type A = 1, type B = 0
y = np.array([1, 1, 0, 1, 0])

model = Sequential()
model.add(Dense(1, activation='sigmoid', input_shape=(2,)))

model.compile(optimizer='sgd', loss='binary_crossentropy', metrics=['binary_accuracy'])
model.fit(x, y, batch_size=1, verbose=0, epochs=2000, shuffle=False)

In [7]:
# If the output is greater than 0.5, it is classified as species type A. Otherwise, species type B.
print(model.predict(x))

[[0.989612  ]
 [0.98179674]
 [0.01424024]
 [0.9571147 ]
 [0.07644722]]